.rnavbar {
  position: relative;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-between;
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
}

.rnavbar-expand {
  flex-wrap: nowrap;
  justify-content: flex-start;
}

.rbg-dark {
  --bs-bg-opacity: 1;
  background-color: rgba(var(--bs-dark-rgb),var(--bs-bg-opacity))!important;
}

.rnavbar>.rcontainer, .rnavbar>.rcontainer-fluid, .rnavbar>.rcontainer-lg, .rnavbar>.rcontainer-md, .rnavbar>.rcontainer-sm, .rnavbar>.rcontainer-xl, .rnavbar>.rcontainer-xxl {
  display: flex;
  flex-wrap: inherit;
  align-items: center;
  justify-content: space-between;
}

.rnavbar-dark .rnavbar-brand {
  color: #fff;
}

.rnavbar-brand {
  padding-top: 0.3125rem;
  padding-bottom: 0.3125rem;
  margin-right: 1rem;
  font-size: 1.25rem;
  text-decoration: none;
  white-space: nowrap;
}

.rnavbar-expand .rnavbar-collapse {
  display: flex!important;
  flex-basis: auto;
}

.rcollapse:not(.show) {
  display: none;
}

.rjustify-content-end {
  justify-content: flex-end!important;
}

.rnavbar-collapse {
  flex-basis: 100%;
  flex-grow: 1;
  align-items: center;
}

.rnavbar-dark .rnavbar-text {
  color: rgba(255,255,255,.55);
}

.rnavbar-text {
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
}

.rcontainer, .rcontainer-fluid, .rcontainer-lg, .rcontainer-md, .rcontainer-sm, .rcontainer-xl, .rcontainer-xxl {
  width: 100%;
  padding-right: var(--bs-gutter-x,.75rem);
  padding-left: var(--bs-gutter-x,.75rem);
  margin-right: auto;
  margin-left: auto;
}

.rcontainer {
  @media (min-width: 576px) {
    max-width: 540px;
  }

  @media (min-width: 768px) {
    max-width: 720px;
  }

  @media (min-width: 992px) {
    max-width: 960px;
  }

  @media (min-width: 1200px) {
    max-width: 1140px;
  }
}
