.App-header {
  align-items: center;
  justify-content: center;
  color: white;
}

.App-body {
  background-color: #282c34;
  min-height: 91.48vh;
  display: flex;
  flex-direction: column;
  position: sticky;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-footer {
  padding-bottom: 50px;
  background-color: #282c34;
  min-height: 20vh;
  display: block;
  position: sticky;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}
